* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:
    linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.55)
    ),
    url("metro.png");
    background-size: cover;
    background-position: center;

    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    position:relative;
}

.container::before{
    content:"";
    position:absolute;
    inset:-5px;
    border-radius:25px;
    z-index:-1;
        filter:blur(25px);
        opacity:0.4;
}   

h1 {
    text-align:center;
    color:white;
    margin-bottom:30px;
    letter-spacing:1px;
    text-shadow:2px 2px 10px rgba(0,0,0,0.4);
    font-size:42px;
    font-weight:700;
    letter-spacing:1px;
}

.metro-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

select{
    padding:14px;
    border:none;
    border-radius:12px;
    font-size:16px;
    background:white;
    color: black;
}

select:focus{
    border-color:#ff4b2b;
    outline:none;
    box-shadow:0 0 10px rgba(255,75,43,0.3);
}


button{
    grid-column:1/3;

    background:linear-gradient(
        135deg,
        #1565c0,
        #1976d2
    );

    color:white;
    font-size:18px;
    font-weight:bold;

    padding:15px;
    border:none;
    border-radius:12px;

    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 25px rgba(21,101,192,0.5);
}

#output {
    margin-top: 30px;
}

.result-box{
    margin-top:25px;

    background:rgba(255, 255, 255, 0.185);

    padding:20px;
    border-radius:15px;

    color:white;
}

.result-box h2 {
    color: #1565c0;
    margin-bottom: 15px;
}

.info {
    margin-bottom: 10px;
    font-size: 18px;
}

.route {
    margin-top: 20px;
}

.station {
    background: #1976d2;
    color: white;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 8px;
    text-align: center;
}

.arrow {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

.title-icon{
    width:50px;
    height:50px;
    background:#ff4b2b;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.metro-lines{
    display:flex;
    justify-content:center;
    gap:8px;
    margin-bottom:25px;
}

@media(max-width:768px) {
    .metro-card {
        grid-template-columns: 1fr;
    }
    button {
        grid-column: 1;
    }
}